extends ../layout
block head
  script(src='/wiz-markdown/wizMarkdown.min.js')
  link(rel='stylesheet', href='/css/rules.css')
  script
    | var gameId = '#{gameId}';
    | var rules = '#{rules}';

block navbar
  li
    a(href='#' ng-click='setPanel("rules")') Spielregeln
  li
    a(href='#' ng-click='setPanel("edit")') Editor
  li
    a(href='#' ng-click='setPanel("info")') Infos / Hilfe
  li(ng-show='panel === "rules"')
    a(href='#' onclick="javascript:window.print()") Drucken&nbsp;
      i.fa.fa-print(aria-hidden='true')

block content
  include rules-modal-save
  include rules-modal-unsaved-changes

  div(ng-show='panel === "rules"' ng-cloak)
    include rules-text
  div(ng-show='panel === "edit"' ng-cloak)
    include rules-editor
  div(ng-show='panel === "info"' ng-cloak)
    include rules-info
  div(ng-show='panel === "error"' ng-cloak)
    h1 Hoppla, da gibt es ein Problem
    | Das Spiel wurde entweder nicht gefunden oder Du hast keine Zugriffsrechte dafür.

