// Modal dialog for unsaved changes
   Created by kc on 19.05.16.

#modal-unsaved-changes.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-unsaved-label')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#modal-unsaved-label.modal-title Ungespeicherte Änderungen gefunden
      .modal-body
        | Es wurden beim Laden der Seite ungespeicherte Änderungen an der Preisliste gefunden.
        p
        p Sollen diese Änderungen übernommen oder rückgängig gemacht werden?


      .modal-footer
        button.btn.btn-default(type='button', ng-click='undoLoadedChanges()' data-dismiss='modal') Änderungen rückgängig machen
        button.btn.btn-primary(type='button' ng-click='saveLoadedChanges()', data-dismiss='modal') Änderungen übernehmen
