//
   Created by kc on 19.05.16.

.row
  .col-md-12
    #markdown-col
      wiz-markdown-editor#rules-editor(content='rules')
        wiz-toolbar-button(command='bold')
          i.fa.fa-bold(aria-hidden='true')
        wiz-toolbar-button(command='italic')
          i.fa.fa-italic(aria-hidden='true')
        wiz-toolbar-button(command='heading')
          i.fa.fa-header(aria-hidden='true')
        wiz-toolbar-button(command='ullist')
          i.fa.fa-list-ul(aria-hidden='true')
        wiz-toolbar-button(command='ollist')
          i.fa.fa-list-ol(aria-hidden='true')
        wiz-toolbar-button(command='indent')
          i.fa.fa-indent(aria-hidden='true')
        wiz-toolbar-button(command='outdent')
          i.fa.fa-dedent(aria-hidden='true')
        wiz-toolbar-button(command='link')
          i.fa.fa-link(aria-hidden='true')
        wiz-toolbar-button(command='img')
          i.fa.fa-picture-o(aria-hidden='true')
        wiz-toolbar-button(command='hr') ---
        wiz-toolbar-button(command='undo')
          i.fa.fa-undo(aria-hidden='true')
        wiz-toolbar-button(command='redo')
          i.fa.fa-repeat(aria-hidden='true')
        button.btn.btn-primary.btn-sm(data-toggle='modal', data-target='#modal-save') Speichern&nbsp;
          i.fa.fa-save(aria-hidden='true')
