h1 Häuser & Hotels
form(name='propertiesForm')
  .row
    .col-md-4
      label(for='noHouse') Unbebaut
      select(class='form-control' type='noHouse' id='interestInterval' ng-model='gameplay.gameParams.rentFactors.noHouse')
        option 0.05
        option 0.1
        option 0.125
        option 0.25
      span(class='help-block') Mit den Faktoren in diesem Abschnitt wird der Ertrag pro Stunde (bzw. die Miete wenn eine andere Gruppe das Ort besucht) bestimmt. Im Normalfall sind keine Anpassungen nötig, die Standardwerte haben sich bewährt.

      label(for='oneHouse') Ein Haus
      select(class='form-control' type='noHouse' id='interestInterval' ng-model='gameplay.gameParams.rentFactors.oneHouse')
        option 0.25
        option 0.4
        option 0.5
        option 0.75
        option 1

      label(for='twoHouses') Zwei Häuser
      select(class='form-control' type='noHouse' id='interestInterval' ng-model='gameplay.gameParams.rentFactors.twoHouses')
        option 1
        option 1.5
        option 2
        option 2.5

      label(for='threeHouses') Drei Häuser
      select(class='form-control' type='noHouse' id='interestInterval' ng-model='gameplay.gameParams.rentFactors.threeHouses')
        option 2.5
        option 3
        option 3.5

      label(for='fourHouses') Vier Häuser
      select(class='form-control' type='noHouse' id='interestInterval' ng-model='gameplay.gameParams.rentFactors.fourHouses')
        option 3.5
        option 4
        option 4.5

      label(for='hotel') Hotel
      select(class='form-control' type='noHouse' id='interestInterval' ng-model='gameplay.gameParams.rentFactors.hotel')
        option 4.5
        option 5
        option 5.5
        option 6

    .col-md-4
        label(for='housePrices') Kosten für ein Haus / Hotel
        select(class='form-control' type='housePrices' id='interestInterval' ng-model='gameplay.gameParams.housePrices')
          option 0.25
          option 0.5
          option 0.75
          option 1
        span(class='help-block') Dieser Faktor bestimmt, wie teuer ein Haus (bzw. Hotel) im Vergleich mit dem Kaufpreis ist

      .col-md-4
        button(class='btn btn-default' type='submit'  ng-click="save('properties')") Speichern und weiter
