//
   Created by kc on 31.01.15.

extends layout
block head
  link(rel='stylesheet', href='/css/edit.css')
  script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyClFIdi03YvYPvLikNwLSZ748yw1tfDVXU&libraries=places&sensor=TRUE')
  script(src='/js/property.js')
  script
    | var gameId = '#{gameId}';

block navbar
  li(class='dropdown')
    a(data-toggle='dropdown' class='dropdown-toggle' href='#') Spielparameter
    ul(role='menu' class='dropdown-menu')
      li
        a(href='' ng-click="panel='gameplay'") Spieldaten
      li
        a(href='' ng-click="panel='basics'") Preisliste
      li
        a(href='' ng-click="panel='interests'") Stargeld & Zins
      li
        a(href='' ng-click="panel='properties'") Häuser & Hotel
  li
    a(href='' ng-click="showMapTab()") Ortauswahl

block content
  div(ng-show='panel === "init"')
    h1 Lade die Daten... einen Moment bitte
    p
    a(href='/') Zurück zur Hauptseite
  div(ng-show='panel === "error"')
    h1 Houston, we have a problem!
    p
    p Beim Laden des Spiels ist ein Fehler aufgetreten:
    p {{errorMessage}}
    p
    p
    p
      a(href='/')
        | Zurück zur Hauptseite
  div(ng-show='panel === "gameplay"')
    include edit-gameplay
  div(ng-show='panel === "basics"')
    include edit-basics
  div(ng-show='panel === "interests"')
    include edit-interests
  div(ng-show='panel === "properties"')
    include edit-properties
  div(ng-show='panel=== "map"')
    include edit-map
