extends layout

block head
  link(rel='stylesheet', href='/css/index.css')

block navbar
  li
    a(id='new-game' href='/newgame' ng-hide='gameplays.length > 3') Neues Spiel
  li
    a(href='/issuetracker') Issue-Tracker

block content
  include index-modal-delete

  h1 Ferropoly Spiel-Editor

  h2 Meine Spiele
  div(ng-show='gameplays.length === 0')
    | Du hast noch keine Spiele angelegt.&nbsp;
    a(href='/newgame') Neues Spiel anlegen.
  div(ng-show='gameplays.length > 0')
    .row
      div(class='col-md-3' data-ng-repeat='gameplay in gameplays')
        .panel.panel-default
          .panel-heading
            h3.panel-title {{gameplay.gamename}}
          .panel-body
            p Spieldatum: {{gameplay.scheduling.gameDate | date:'d.M.yyyy'}}
            p Karte: {{gameplay.internal.map.toUpperCase()}}
            p Erstellt: {{gameplay.log.created | date:'d.M.yyyy H:mm'}}
            p Letzte Bearbeitung: {{gameplay.log.lastEdited | date:'d.M.yyyy H:mm'}}
            p(ng-show='gameplay.log.priceListVersion > 0') Preisliste: {{gameplay.log.priceListCreated | date:'d.M.yyyy H:mm'}}
              div(ng-show='gameplay.internal.finalized') Preisliste ist finalisiert
            p(class='gameplay-id') ID: {{gameplay.internal.gameId}}
            p
              a(class='btn btn-default btn-xs btn-gameplay' ng-hide='gameplay.internal.finalized' href='/edit?gameId={{gameplay.internal.gameId}}' ng-click="") Bearbeiten
                span(class='glyphicon glyphicon-pencil' aria-hidden='true')

              a(class='btn btn-default btn-xs btn-gameplay' href='/pricelist?gameId={{gameplay.internal.gameId}}' ng-click="" ng-show='gameplay.log.priceListVersion > 0') Preisliste
                span(class='glyphicon glyphicon-blackboard' aria-hidden='true')

              a(class='btn btn-default btn-xs btn-gameplay' href='/player?gameId={{gameplay.internal.gameId}}' ng-click="" ng-show='gameplay.log.priceListVersion > 0') Spieler
                span(class='glyphicon glyphicon-blackboard' aria-hidden='true')

              a(class='btn btn-default btn-xs btn-gameplay' href='#' data-toggle="modal" data-target="#deleteModal" ng-click="prepareToDelete(this)") Löschen
                  span(class='glyphicon glyphicon-trash' aria-hidden='true')

