//
   Created by kc on 19.04.15.
extends layout
block content
  h1 Ferropoly Bugtracking & Wunschliste
  p Hast Du einen Fehler gefunden, fehlt Dir etwas oder findest Du eine Funktion zu umständlich? Dann erfasse sie bitte im Issue-Tracker, damit ich mir die Sache genauer ansehen kann.
  p
  p Damit ich mit dem Verfasser eines Eintrages bei Bedarf Kontakt aufnehmen kann, können keine anonymen Einträge verfasst werden. Für den Issue-Tracker ist ein Login von GitHub (gratis & ohne bekannten Nebenwirkungen) notwendig.
  p
  h2 Wichtige Hinweise für Bugs & Wünsche
  ul
    li Es gibt zwei Issuetrackers, einer für den Editor und einer für das Spiel. Bitte trage Dein Anliegen unbedingt am richtigen Ort ein, sonst geht es verloren.
    li Schwere Bugs versuche ich so schnell wie möglich zu beheben, kleinere Sachen kommen bei Gelegenheit dran.
    li Wünsche nehme ich gerne entgegen, kann aber keine Garantie für deren Umsetzung geben. Die Umsetzung hängt von verschiedenen Faktoren ab: Komplexität und Kompatibilität zu meiner Roadmap. Natürlich gebe ich im Issuetracker ein Feedback zum Stand dazu ab.

  h2 Issue-Trackers bei GitHub
  .panel.panel-primary
    .panel-heading
      h3.panel-title Ferropoly EDITOR
    .panel-body
      a(href='https://github.com/ancasicolica/ferropoly-editor/issues') https://github.com/ancasicolica/ferropoly-editor/issues

  .panel.panel-primary
      .panel-heading
        h3.panel-title Ferropoly SPIEL
      .panel-body
        a(href='https://github.com/ancasicolica/ferropoly-main/issues') https://github.com/ancasicolica/ferropoly-main/issues

