extends layout

block head
  link(rel='stylesheet', href='/css/signin.css')

block navbar-right
  li
    a(href='http://www.ferropoly.ch') Impressum / Kontakt

block content
  .login-box.ls-box-shape
    form(action='login' method='post')
      h3 Ferropoly Spiel Editor
      label(for='inputUserName' class='sr-only') Benutzername
      input(type='text' name='username' id='inputUserName' class='form-control' placeholder='Benutzername' required autofocus)
      label(for='inputPassword' class='sr-only') Passwort
      input(type='password' name='password' id='inputPassword' class='form-control' placeholder='Passwort' required)
      button(class='btn btn-lg btn-primary btn-block' type='submit') Login

      br
      .row
        .col-md-3
          a(href='www.google.com/chrome/')
            img(src='images/google-chrome-icon.png')
        .col-md-9
          | Diese Anwendung ist für den Chrome-Browser optimiert. Mit anderen Browsern können Probleme auftreten.
