//
   Created by kc on 29.01.15.

extends layout
block head
   link(rel='stylesheet', href='/css/newgame.css')
   link(rel='stylesheet', href='/pickadate/angular-pickadate.css')
   script(src="i18n/angular-locale_de-ch.js")
   script(src='/pickadate/angular-pickadate.min.js')
block content
      h1 Neues Spiel anlegen
      .row
         .col-md-6
            form(name='newForm')

              h4 Spielname
              input(type='text' id='gamename1' name='gamename1' class='form-control' required ng-minlength='3' ng-maxlength='60' ng-model='gamename')
              span(id='helpname' class='help-block') Gib Deinem Spiel einen passenden Namen, diesen sehen später auch die Teilnehmer. Der Name kann jederzeit geändert werden.
              p(class='bg-danger' ng-hide='newForm.gamename1.$valid') Ungültige Eingabe: Der Name muss zwischen 3 und 60 Zeichen lang sein


              h4 Spielkarte
              .radio
                 label
                   input( type='radio' name='map' value='zvv' ng-model='map')
                   | Zürcher Verkehrsverbund ZVV
              .radio
                 label
                   input(type='radio' name='map' value='sbb' ng-model='map')
                   | Ganzes Schweizer Bahn- und Busnetz (GA Gültigkeitsbereich)
              span(id='helpmap' class='help-block') Die Spielkarte bestimmt, aus welchen Orten man die Preisliste gestalten kann. Diese Einstellung kann später nicht mehr geändert werden.
         .col-md-6
              h4 Spiel-Datum
              div(pickadate ng-model="gamedate" name='gamedate' id='gamedate' week-starts-on="1" min-date="minDate" ng-change='validateDate()' )
              span(class='help-block') Gegenwärtig werden nur eintägige Spiele unterstützt. Die Start- und Endzeit kann in den Spieleinstellungen später angepasst werden.

              button(type='submit' class='btn btn-default' ng-click='validateAndSave()' ng-disabled='(!newForm.$valid)||dateError') Spiel anlegen

              p(id='error-message')
                |{{errorMessage}}
