//
   Created by kc on 24.03.15.

extends layout
block head
  link(rel='stylesheet', href='css/player.css',  type='text/css')
  script
    | var gameId = '#{gameId}';
block navbar
  li
    a(href='#' ng-click='newTeam()' ng-hide='teams.length >= maxGroupNb') Neue&nbsp;Gruppe

block content
  .modal.fade(id='saveModal')
    .modal-dialog
      .modal-content
        .modal-header
          h4.modal-title Löschen?
        .modal-body
          p Soll die Gruppe wirklich gelöscht werden? Diese Aktion kann nicht rückgängig gemacht werden!
        .modal-footer
          button(type='button' class='btn btn-default' data-dismiss='modal') Nein
          button(type='button' class='btn btn-primary' ng-click='deleteTeam()' data-dismiss='modal') Ja
  .row
    .col-md-5
      .panel.panel-default
        .panel-heading
          h3.panel-title Teilnehmende Gruppen ({{teams.length}} / max {{maxGroupNb}})
        .panel-body
          .alert.alert-info(ng-hide='teams.length > 0') Es sind noch keine Gruppen vorhanden. Mit 'Neue Gruppe" können Gruppen hinzugefügt werden.
          .list-group
            a(class='list-group-item' href='#' ng-disabled='!playerForm.$valid' ng-click='setCurrentTeam(p)' data-ng-repeat='p in teams')
              h4(class='list-group-item-heading') {{p.data.name}}
              | {{p.data.organization}}

    .col-md-7
      .panel.panel-default(ng-hide='currentTeam === undefined')
        .panel-heading
          h3.panel-title Gruppe bearbeiten
        .panel-body
          form.form-horizontal(name='playerForm')
            .form-group
              label.col-sm-2.control-label(for='name') Team-Name
              .col-sm-10
                input(class='form-control' type='text' id='name' name='name' placeholder='Team Name' ng-blur='validateForm()' ng-change='sortTeams();validateForm();currentDataChanged=true' required ng-minlength='3' ng-maxlength='60' ng-model='currentTeam.data.name')

            .form-group
              label.col-sm-2.control-label(for='contactName') Kontaktperson
              .col-sm-10
                input(class='form-control' type='text' id='contactName' name='contactName' ng-blur='validateForm()' ng-change='validateForm();currentDataChanged=true' placeholder='' required ng-minlength='3' ng-maxlength='60' ng-model='currentTeam.data.teamLeader.name')

            .form-group
              label.col-sm-2.control-label(for='organisation') Organisation
              .col-sm-10
                input(class='form-control' type='text' id='organization' placeholder='' ng-change='currentDataChanged=true' ng-model='currentTeam.data.organization')

            .form-group
              label.col-sm-2.control-label(for='phone') Telefon
              .col-sm-10
                input(class='form-control' type='text' id='phone' placeholder='044 111 22 33'  ng-minlength='3' ng-maxlength='20' ng-change='currentDataChanged=true' ng-model='currentTeam.data.teamLeader.phone')

            .form-group
              label.col-sm-2.control-label(for='email') E-Mail
              .col-sm-10
                input(class='form-control' type='email' id='email' name='email' ng-blur='validateForm()' ng-change='validateForm();currentDataChanged=true'  placeholder='spieler@ferropoly.ch' required ng-minlength='3' ng-maxlength='60' ng-model='currentTeam.data.teamLeader.email')

            .form-group
              label.col-sm-2.control-label(for='remarks') Bemerkungen
              .col-sm-10
                textarea(class='form-control' type='text' id='remarks' rows='4'  ng-maxlength='6000' ng-change='currentDataChanged=true' ng-model='currentTeam.data.remarks')

            button(class='btn btn-default btn-sm' type='submit'  ng-click='saveTeam()' ng-disabled='!playerForm.$valid || isDemoGame()') Gruppe speichern
              span(class='glyphicon glyphicon-save' aria-hidden='true')
            | &nbsp;
            button(class='btn btn-default btn-sm' type='submit'  data-toggle='modal' data-target='#saveModal' ng-disabled='isDemoGame()') Gruppe löschen
              span(class='glyphicon glyphicon-trash' aria-hidden='true')
