//
   Created by kc on 21.03.15.

extends layout
block head
  link(rel='stylesheet', href='/css/pricelist.css')
  script
    | var gameId = '#{gameId}';

block navbar
  li
    a(href='#' ng-click='setPanel("list")') Preisliste
  li(ng-show='panel === "list"')
    a(href='#' onclick="javascript:window.print()") Drucken
  li
    a(href='#' ng-click='setPanel("info")') Spielinfo
block content
  include pricelist-modal-finalize

  div(ng-show='panel === "list"')
    include pricelist-list
  div(ng-show='panel === "info"')
    include pricelist-info
  div(ng-show='panel === "error"')
    h1 Hoppla, da gibt es ein Problem
    | Das Spiel wurde entweder nicht gefunden oder Du hast keine Zugriffsrechte dafür.
