extends layout

block head
  link(rel='stylesheet', href='/css/signin.css')
  script(src='')

block navbar-right
  ul(class='nav navbar-nav navbar-right')
    li
      a(href='/login') Login &nbsp;


block content

  div(ng-show='view === 0')
    .signup-box.ls-box-shape
      h1 Ferropoly Anmeldung
      | Willkommen beim Ferropoly Editor. Diese Applikation ist gegenwärtig in Entwicklung, eine Registrierung ist zwar möglich,
      | doch die Logins werden periodisch gelöscht!

      form(class='form-signin')
        .form-group(id='email-group')
          label(for='email') Email-Adresse (entspricht Login-Name)
          input(type='email' class='form-control' id='email' placeholder='max.muster@ferropoly.ch' ng-model='email' ng-blur='verifyEmail()')
          span(id='emailInfo' class='help-block' ng-hide='!emailInvalid') {{emailInvalidExplanation}}

        .form-group(id='forename-group')
          label(for='forename') Vorname
          input(type='text' class='form-control' id='forename' placeholder='Max' ng-model='forename' ng-blur='verifyForename()')
          span(id='emailInfo' class='help-block' ng-hide='!forenameInvalid') Bitte einen Vornamen eingeben

        .form-group(id='surname-group')
          label(for='surname') Nachname
          input(type='text' class='form-control' id='forename' placeholder='Muster' ng-model='surname' ng-blur='verifySurname()')
          span(id='emailInfo' class='help-block' ng-hide='!surnameInvalid') Bitte einen Nachnamen eingeben

        .form-group(id='password-group')
          label(for='password') Passwort
          input(type='password' class='form-control' id='password' placeholder='12345678' ng-model='password' ng-blur='verifyPassword()')
          span(id='emailInfo' class='help-block' ng-hide='!passwordInvalid') Bitte ein Passwort mit mindestens 8 Zeichen eingeben

        .form-group(id='password-repeat-group')
          label(for='passwordRepeat') Passwort wiederholen
          input(type='password' class='form-control' id='passwordRepeat' placeholder='12345678' ng-model='passwordVerify' ng-blur='verifyRepeatPassword()')
          span(id='emailRepeatInfo' class='help-block' ng-hide='!passwordRepeatInvalid') Das Passwort stimmt nicht überein

        button(type='submit' class='btn btn-default' ng-disabled='!formDataValid()' ng-click='view = 1') Weiter
  div(ng-show='view === 1')
    .agb-box.ls-box-shape(id='agb-box')
      .agb-contents
        include signup-agb-preview
        br
        br
        label
          input(type='checkbox' ng-model='agbAccepted')
          | Ich habe die AGBs gelesen, verstanden und akzeptiert
        br
        button(class='btn btn-default' ng-disabled='!agbAccepted' ng-click='createUser()') Registrierung abschliessen
        br
        br

  .ls-box-shape(ng-show='view === 2')
    | Vielen Dank für die Registrierung. Gegenwärtig gibt es noch keine Email-Verifikation, deshalb kann sogleich eingeloggt werden.
    h2
      a(href='/') Hier geht es zum Login
