.col-md-offset-1.col-md-10.col-sm-12
  h2 Spielname
  span(id='helpname' class='help-block') Gib Deinem Spiel einen passenden Namen, diesen sehen später auch die Teilnehmer. Der Name kann jederzeit geändert werden.
  input.form-control(type='text' id='gamename1' name='gamename1' required ng-minlength='3' ng-maxlength='60' ng-model='gamename')
  p(class='bg-danger' ng-hide='newForm.gamename1.$valid') Ungültige Eingabe: Der Name muss zwischen 3 und 60 Zeichen lang sein


  h2 Spielkarte
  span(id='helpmap' class='help-block') Es stehen verschiedene Karten zur Auswahl, diese unterscheiden sich in der Grösse und damit auch im Billetpreis.
  .radio
    label.map-item(ng-repeat='m in maps' ng-show='m.enabled')
      input(type='radio' name='map' value='{{m.map}}' ng-model='map' ng-click='setMap(m)')
      strong {{m.name}}:&nbsp;
      | {{m.description}}

  p &nbsp;
  p
    button.btn.btn-primary(ng-click='step=2' ng-disabled='!createEnabled || (!newForm.$valid)') Weiter


