.col-md-12(ng-hide='gameId.length > 0')

    p Du hast es beinahe geschafft!
    p Nun brauchen wir noch eine Game-ID, welche das Spiel identifiziert. Du kannst nun aus ein paar Vorschl채gen eine Game-ID ausw채hlen oder selbst eine erstellen:
    input.form-control(type='text' id='requestedGameId'  name='requestedGameId' required ng-minlength='6' ng-maxlength='60' ng-model='requestedGameId' create-game-id)

    p Oder wie w채re es mit einer der folgenden IDs?
    button.btn.btn-sm.btn-id(ng-repeat=('id in suggestedIds') ng-click='setRequestedId(id)') {{id}}

    p
    p
    button.btn.btn-primary(ng-click='checkIdAndCreateGame()' ng-disabled='(!newForm.$valid)') ID pr체fen und Spiel anlegen
.col-md-12(ng-show='gameId.length > 0')
  h3 Neues Spiel erfolgreich angelegt!

  p Dein neues Spiel ist angelegt und hat die ID '{{gameId}}'. Bitte gib diese ID bei Support-Anfragen an.
  p &nbsp;

  button.btn.btn-primary(ng-click='goToEditor()') Weiter zur Preisliste