extends ../layout
block head
  link(rel='stylesheet', href='/css/newgame.css')
  link(rel='stylesheet', href='/modules/angular-pickadate/dist/angular-pickadate.css')
  script(src="/maps")
  script(src="/modules/angular-i18n/angular-locale_de-ch.js")
  script(src='/modules/angular-pickadate/dist/angular-pickadate.min.js')
block content
  div(ng-hide='step===100')
    h1 Neues Spiel anlegen
    .row(ng-cloak)
      form(name='newForm')
        div(ng-show='step===1')
          include newgame-map
        div(ng-show='step===2')
          include newgame-date
        div(ng-show='step===3')
          include newgame-pricelist
        div(ng-show='step===4')
          include newgame-name


