body {
/* background-image: url("/images/ferropoly_background01.jpg");*/
  background-clip: border-box;
  background-size: cover;
}
.bg1 {
    background-image: url("/images/ferropoly_background01.jpg");
}
body.bg2 {
    background-image: url("/images/ferropoly_background02.jpg");
}
.bg3 {
    background-image: url("/images/ferropoly_background03.jpg");
}
.bg4 {
    background-image: url("/images/ferropoly_background04.jpg");
}
.bg5 {
    background-image: url("/images/ferropoly_background05.jpg");
}

.login-box {
    max-width: 330px;

}
.signup-box {
    max-width: 600px;
}
.agb-box {
    max-width: 80%;
    overflow : auto;

}
.agb-contents {
    height: inherit;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.ls-box-shape {
    padding: 15px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
