h1 Häuser & Hotels
form(name='propertiesForm')
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          h3.panel-title Faktoren Mietpreise
        .panel-body
          label(for='noHouse') Unbebaut
          input.form-control(id='noHouse' type='number' min='0' step='0.25' max='10' ng-model='noHouse')
          span.help-block Mit den Faktoren in diesem Abschnitt wird der Ertrag pro Stunde (bzw. die Miete wenn eine andere Gruppe das Ort besucht) bestimmt. Im Normalfall sind keine Anpassungen nötig, die Standardwerte haben sich bewährt.

          label(for='oneHouse') Ein Haus
          input.form-control(id='oneHouse' type='number' ng-model='oneHouse'  min='0' step='0.25' max='10')

          label(for='twoHouses') Zwei Häuser
          input.form-control(id='twoHouses' type='number' ng-model='twoHouses'  min='0' step='0.25' max='10')

          label(for='threeHouses') Drei Häuser
          input.form-control(id='threeHouses' type='number' ng-model='threeHouses'  min='0' step='0.25' max='10')

          label(for='fourHouses') Vier Häuser
          input.form-control(id='fourHouses' type='number' ng-model='fourHouses'  min='0' step='0.25' max='10')

          label(for='hotel') Hotel
          input.form-control(id='hotel' type='number' ng-model='hotel'  min='0' step='0.25' max='10')

    .col-md-4
      .panel.panel-default
        .panel-heading
          h3.panel-title Häuser / Hotel
        .panel-body
          label(for='housePrices') Kosten für ein Haus / Hotel
          input.form-control(id='housePrices' type='number' ng-model='housePrices'  min='0' step='0.25' max='10')
          span.help-block Dieser Faktor bestimmt, wie teuer ein Haus (bzw. Hotel) im Vergleich mit dem Kaufpreis ist

      .col-md-4
        button.btn.btn-primary(type='submit'  ng-click="save('map')") Speichern und weiter
