//
   Created by kc on 02.01.16.
h1 Zentrale & Smartphones
.row
  .col-md-4
    .panel.panel-default
      .panel-heading
        h3.panel-title Spielform
      .panel-body
        .radio
          label
            input(type='radio' ng-model='gameplay.mobile.level' ng-value=0)
            strong Zentrale ohne Mobile-Unterstützung:
            | &nbsp;Die Spieler können die Preisliste ohne Login einsehen, während dem Spiel bleibt das Mobilephone aber ausgeschaltet. Für alle Aktionen muss die Zentrale angerufen werden.
        .radio
          label
            input(type='radio' ng-model='gameplay.mobile.level' ng-value=5)
            strong Zentrale, Zugriff auf eigene Daten zulassen:
            | &nbsp;Die Teams haben Zugriff auf ihre eigenen Informationen, können aber so weder Orte noch Häuser kaufen. Dies erfolgt telefonisch über die Zentrale.
        .radio(ng-hide='true')
          label
            input(type='radio' ng-model='gameplay.mobile.level' ng-value=10 disabled=true)
            strong Mobiles Spiel:
            | &nbsp;Die Teams können ihre Orte und Häuser selbst mit ihrem Smartphone kaufen. Die Zentrale ist nur noch für Notfälle und als Kontrollinstanz im Einsatz.


    p
      button.btn.btn-primary(type='submit' ng-disabled='!gameplayForm.$valid' ng-click="save('basics')") Speichern und weiter

