extends ../layout
block content
  .row
    .col-md-12
      .jumbotron
        h1 Ferropoly E-Mail Überprüfung {{test}}
        p Bei der Anmeldung wurde ein E-Mail mit Kontrolltext veschickt. Bitte diesen Text hier zur Überprüfung Deiner E-Mail Adresse eingeben.
        input(placeholder='email-text-1234' ng-model='verificationText')
        p
        button.btn.btn-default(type='button' ng-click='verifiy()') Überprüfen & weiter
        p
        p
          .alert.alert-danger(ng-show='errorMessage.length') {{errorMessage}}
        p Kein Email erhalten oder bereits gelöscht?
        button.btn.btn-default(type='button' ng-click='generateNew()') Neuen Kontrolltext generieren und senden
