h1 AGBs
| Leider kommen wir nicht um AGBs herum, es gibt hier ein paar Dinge, die wichtig sind und deshalb geklärt sein müssen. Bitte lies das genau durch und
| mach nur weiter, wenn Du damit einverstanden bist.
h4 Entwicklungsphase
| Gegenwärtig steht hier nur, dass die Sache in Entwicklung ist und man ja nicht ein Ferropoly damit planen soll... die Daten auf der Datenbank
| werden zur Zeit beliebig gelöscht! Rückmeldungen zu Fehlern und Wünschen sind jedoch erwünscht, die Kontaktdaten findet man auf
h4 Verwendung privater Daten
| Für das Spiel werden die einen oder anderen privaten Daten (wie Namen, E-Mailadresse, Telefonnummer, ... ) verlangt. Diese Daten werden ausschliesslich für das Spiel verwendet und werden nicht an Dritte weitergegeben.
| Bei wichtigen Infos können die Email-Adressen von uns zur Kontaktaufnahme mit den Spielorganisatoren verwendet werden.
h4 Komerzielle Spiele
| Diese Software darf nur für nicht-komerzielle Spiele verwendet werden. D.h. der Organisator bezieht keinen Lohn oder Entschädigungen, welche über seine Auslagen hinausgehen. Für die Austragung komerzieller Spiele ist
| eine Vereinbarung mit dem Webseitenbetreiber zwingend. Fehlbare Organisatoren werden aus der Webseite ausgeschlossen.
h4 Haftungsausschluss
| Dieses Spiel wurde in der Freizeit programmiert und soll den Teilnehmern ein gutes Erlebnis bringen. Trotzdem kann mal was schief gehen, weder die Software noch die verwendete Technik ist perfekt.
| Der Betreiber dieser Webseite kann wegen Programmierfehler oder nicht verfügbaren Servern nicht zur Rechenschaft gezogen werden, die Verwendung dieser Software schliesst sämtliche
| Schadensersatzansprüche aus, welche z.B. wegen einem abgebrochenen Spiel entstehen.
| Die Teilnehmer des Spieles selbst sind für ihr Handeln selbst verantwortlich. Für Unfälle und anderen Schadensfälle während eines Spieles kann der Betreiber dieser Webseite nicht haftbar gemacht werden.
h4 Gerichtsstand
| Gerichtsstand ist 8340 Hinwil, ZH.
