extends ../layout

block content
  .row
    .col-md-12
      .jumbotron
        h1 Ferropoly E-Mail Überprüfung
        p Leider ist da was schief gelaufen:
        p=message
        p
        p Wenn Du denkst, dass das ein Fehler ist, dann nimm via&nbsp;
          a(href='http://www.ferropoly.ch') www.ferropoly.ch
          | &nbsp;Kontakt mit mir auf. Danke.
