extends layout-error

block title
  | 500 - internal Server error
block info
  | Sorry, da ging etwas ziemlich schief! Sollte sich das wiederholen, bitte über die Ferropoly-Kontakt Seite melden, Danke!
